{% extends 'base/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/css/detail.css' %}">
{% block content %}
    <div class="row">
    <div class="col-12 text-center">
        <img class="image border shadow" style="margin-top: 40px;width: 400px;height: 500px" src="{{ product.image.url }}" alt="{{ product.title }}">
    </div>
    <div class="col-12 " style="margin-top: 40px;direction: rtl">
         <h3>نام کالا:{{ product.title }}</h3>
        <h3>توضیحات:{{ product.description }}</h3>
        <h3>موجود:
        {% if product.is_stock %}هست
        {% else %}
            ناموجود
        {% endif %}</h3>
    <h3>قیمت:{{ product.price }}</h3>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="اضافه کردن به سبد خرید">
        </form>
    </div>
    </div>
{% endblock %}