{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin-top: 20px">
{% for product in products %}

          <div class="card col-4  center " style="width: 600px;height: 400px;margin: 80px">
            <div class="card-header card-img image" style="height: 100%;width: 100%" >
                <img style="height: 100%;width: 100%" src="{{ product.image.url }}" alt="{{ product.image.url }}">
            </div>

            <div class="card-body">
              <p class="card-text " style="direction: rtl">{{ product.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
                </div>
                <small class="text-muted">{{ product.updated }}:بروزرسانی</small>
              </div>
            </div>
          </div>

{% endfor %}
      </div>
{% endblock %}