{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin-top: 80px">
{% for product in list_products  %}
   <div class="col-4 " >
              <div class="card mb-4 box-shadow " style="height: 550px">
                <img class="card-img-top"   style="height: 400px; width: 100%; display: block;object-fit: fill" src="{{ product.image.url }}">
                <div class="card-body" >
                  <p class="card-text " style="direction: rtl;">{{ product.description|truncatewords:30 }}</p>
                </div>
                  <div class="card-footer">
                       <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a style="text-decoration: none" href="{% url 'store:product_detail' product.id %}">بیشتر</a></button>
                    </div>
                    <small class="text-muted">{{ product.updated }}: بروزرسانی</small>
                  </div>
                  </div>
              </div>
            </div>

{% endfor %}
      </div>
{% endblock %}

{% block footer %}
    <hr>
    <div class="text-center">

<nav>
<ul class="pagination">
     {% if list_products.has_previous %}
        <li class="page-item"> <a class="page-link" href="?page=1">&laquo First</a></li>
         <li class="page-item"> <a  class="page-link" href="?page={{ list_products.previous_page_number }}">previous</a></li>
     {% endif %}
    <li class="page-item"> page {{ list_products.number }} of {{ list_products.paginator.num_pages }}</li>
      {% if list_products.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ list_products.next_page_number }}">next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ list_products.next_page_number.num_pages}}">&raquo last</a></li>
     {% endif %}
</ul>
</nav>
</div>
{% endblock %}

